<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User | BinarGame</title>
    <link rel="shortcut icon" type="image/png" href="/img/icon.PNG">
    <link rel="stylesheet" href="/css/style-update.css">
</head>
<body>
    <div class="container">
    <h1>Update User</h1>
    <form action="/dashboard/update/<%= data.id %>" method="post">
        <label for="username" >Username</label><br>
        <input type="text" name="username" value="<%= data.username %>"><br>
        <label for="email" >Email</label><br>
        <input type="text" name="email" value="<%= data.email %>"><br>
        <label for="password" >Password</label><br>
        <input type="text" name="password" value="<%= data.password %>"><br>
        <label for="gender" >Gender</label><br>
        <select type="text" name="gender" value="<%= data.user_game_biodatum.gender %>"><br>
        <option >Male</option>
        <option >Female</option>
        </select><br>
        <label for="date_of_birth" >Date of Birth</label><br>
        <input type="date" name="date_of_birth" value="<%= data.user_game_biodatum.date_of_birth %>"><br>
        <label for="phone" >Phone</label><br>
        <input type="tel" name="phone" value="<%=data.user_game_biodatum.phone %>"><br><br>
        <button type="submit">UPDATE</button>
    </form>
</div>
</body>
</html>